<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:altcha="http://typo3.org/ns/BBysaeth/Typo3Altcha/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.script identifier="altcha" src="EXT:altcha/Resources/Public/JavaScript/dist/altcha.js" defer="true"
    async="true" type="module" />
<f:asset.css identifier="altcha-css">
    .is-invalid span.invalid-feedback {
    display:block;
    }
</f:asset.css>

<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <altcha:form.altcha property="{element.identifier}" id="{element.uniqueIdentifier}"
            class="{element.properties.elementClassAttribute} form-control">
            <altcha-widget
                challengejson="{challenge -> f:format.json()}"
                name="{name}"
                strings="{f:render(partial: 'AltchaTranslations')}"
                {f:if(condition: settings.hideAltchaLogo, then: 'hidelogo')}
                {f:if(condition: settings.hideFooter, then: 'hidefooter')}
                {f:if(condition: settings.auto != 'disabled', then: 'auto={settings.auto}')}
            ></altcha-widget>
        </altcha:form.altcha>
    </f:render>
</formvh:renderRenderable>

</html>