<f:spaceless>
  <f:format.json
    value="{
      ariaLinkLabel: '{f:translate(key: \'altcha.strings.ariaLinkLabel\', extensionName: \'altcha\')}',
      enterCode: '{f:translate(key: \'altcha.strings.enterCode\', extensionName: \'altcha\')}',
      enterCodeAria: '{f:translate(key: \'altcha.strings.enterCodeAria\', extensionName: \'altcha\')}',
      error: '{f:translate(key: \'altcha.strings.error\', extensionName: \'altcha\')}',
      expired: '{f:translate(key: \'altcha.strings.expired\', extensionName: \'altcha\')}',
      footer: '{f:translate(key: \'altcha.strings.footer\', extensionName: \'altcha\') -> f:format.raw()}',
      label: '{f:translate(key: \'altcha.strings.label\', extensionName: \'altcha\')}',
      loading: '{f:translate(key: \'altcha.strings.loading\', extensionName: \'altcha\')}',
      reload: '{f:translate(key: \'altcha.strings.reload\', extensionName: \'altcha\')}',
      verify: '{f:translate(key: \'altcha.strings.verify\', extensionName: \'altcha\')}',
      verificationRequired: '{f:translate(key: \'altcha.strings.verificationRequired\', extensionName: \'altcha\')}',
      verified: '{f:translate(key: \'altcha.strings.verified\', extensionName: \'altcha\')}',
      verifying: '{f:translate(key: \'altcha.strings.verifying\', extensionName: \'altcha\')}',
      waitAlert: '{f:translate(key: \'altcha.strings.waitAlert\', extensionName: \'altcha\')}'
    }" />
</f:spaceless>